@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
.button {
	-webkit-appearance: none;
	appearance: none;
	background-color: #66d1fb;
	border-radius: 4px;
	border: none;
	box-shadow: 0 2px 25px black;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 60px;
	margin-top: 100px;
	margin: 5em auto;
	padding: 1em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	width: 280px
}

.button:focus {
	outline: 0
}

.button:before,
.button:after {
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 100%;
	left: -20%;
	position: absolute;
	transition: all ease-in-out 0.5s;
	width: 140%;
	z-index: -1000
}

.button:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, transparent 20%, #66d1fb 20%, transparent 30%), radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, transparent 10%, #66d1fb 15%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%
}

.button:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, transparent 10%, #66d1fb 15%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%), radial-gradient(circle, #66d1fb 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%
}

.button:active {
	transform: scale(0.9);
	background-color: #4dcafa;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2)
}

.button.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards
}

.button.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards
}

@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%
	}
	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%
	}
	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%
	}
}

@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%
	}
	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%
	}
	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%
	}
}

.upload_button_wrapper input[type=file] {
	background: #fff;
	border-radius: 4px;
	border: none;
	color: #66d1fb;
	display: block;
	font-size: 14px;
	height: 35px;
	margin: 2em auto;
	padding: 10px;
	width: 28em
}

.error {
	color: #f35947;
	display: block;
	margin-bottom: 2em;
	text-align: center;
	width: 100%
}

.button-submit {
	background: #4dc3fa;
	border-radius: 4px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
	padding: 1em 6.4em;
	text-transform: uppercase
}

.back_button {
	color: #ccc;
	display: block;
	margin: 1em auto;
	text-decoration: none;
	text-transform: uppercase;
	width: 100px
}

.pagination {
	color: #fff;
	font-size: 22px;
	margin: 0 auto;
	padding: 2em 0;
	text-align: center;
	width: 100%
}

.pagination a {
	color: #42b9f5;
	text-decoration: none
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.42em;
	color: #A7A1AE;
	background-color: #1F2739
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1em;
	text-align: center;
	color: #4DC3FA
}

h2,
h3 {
	font-size: .9em;
	font-weight: 300;
	text-align: center;
	display: block;
	line-height: 1em;
	text-transform: uppercase
}

h2 {
	color: #66D1FB;
	font-size: 26px
}

h2 b {
	font-weight: bold
}

h3 a i {
	margin-right: 4px
}

h3 a {
	color: #FFF;
	font-size: 12px;
	font-weight: 300;
	margin-left: 11px;
	text-decoration: none
}

h3 a:hover {
	text-decoration: underline
}

price {
	color: #66d1fb;
	font-weight: bold;
	font-size: 1em
}

subtitle {
	display: block;
	text-align: center;
	width: 100%
}

.flash-notice {
	background: #343b4b;
	border-radius: 4px;
	color: #66d1fb;
	display: block;
	margin-bottom: 2em;
	padding: 2em;
	text-align: center
}

.blue {
	color: #185875
}

.yellow {
	color: #FFF842
}

.container {
	margin: 0 auto;
	width: 80%
}

.importer-header {
	padding: 2em 0;
	border-top: 1px solid #18586f
}

.importer-purchases-table {
	padding: 0 0 4em;
	width: 100%
}

.container th {
	color: #185875;
	font-size: 1em;
	font-weight: bold;
	padding: 1% 0 !important;
	text-align: left
}

.container th i {
	margin-right: 5px
}

.container .th--sm {
	width: 6em
}

.container .th--md {
	width: 8em
}

.container .th--lg {
	width: 10em
}

.container td,
.container th {
	padding-bottom: 2%;
	padding-left: 2%;
	padding-top: 2%
}

.container tr:nth-child(odd) {
	background-color: #323C50
}

.container tr:nth-child(even) {
	background-color: #2C3446
}

.container th {
	background-color: #1F2739
}

.container td:first-child {
	color: #66D1FB
}

.container tr:hover {
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	background-color: #464A52;
	box-shadow: 0 6px 6px -6px #0E1119
}

.container td:hover {
	background-color: #D5CD00;
	color: #403E10
}

@media (max-width: 800px) {
	.container td:nth-child(4),
	.container th:nth-child(4) {
		display: none
	}
}